.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fafafa;

  }

  .flags {
    size: 100px;
    
  }







